@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 13px;
  background-color: inherit;
}
::-webkit-scrollbar-thumb {
  @apply bg-green-500 rounded-lg;
}
::selection {
  @apply bg-green-400 text-slate-100;
}
.menuTransition {
  transition: 0.3s all ease-in-out;
}

.validated .needs-validation,
.validated textarea {
  outline: #00cea8;
  @apply border border-green-500
}
.not-validated .needs-validation,
.not-validated textarea {
  outline: #ce0000 !important;
  @apply border border-red-500
}

/* Sidebar */
.ps-sidebar-root ::-webkit-scrollbar {
  width: 0px;
}
.ps-sidebar-container,
.ps-submenu-content {
  /* transition: 0.3s all ease-in-out; */
  @apply !bg-white dark:!bg-slate-900 !text-gray-400 dark:!text-slate-200;
}
.ps-menuitem-root,
.ps-menu-button {
  @apply hover:!bg-green-400/80 hover:!text-slate-100 hover:dark:!bg-slate-800 transition-all;
}
